name: wine-quality
on: [push]
jobs:
  run:
    runs-on: ubuntu-latest
    # optionally use a convenient Ubuntu LTS + CUDA + DVC + CML image
    #container: docker://iterativeai/cml:0-dvc2-base1-gpu
    #container: docker://ghcr.io/iterative/cml:0-dvc2-base1-gpu
    container: docker://dvcorg/cml-py3:latest
    steps:
      - uses: actions/checkout@v2   
      - name: cml_run
        env:
          REPO_TOKEN: ${{secrets.MYTOKEN}}
        run: |
          -m pip install --upgrade pip
          pip install -r requirements.txt
          python train.py
          echo "MODEL METRICS"> report.md
          cat metrics.txt>>report.md
          
          echo "##Data Viz" >> report.md
          cml-publish feature_importance.png --md >> report.md
          cml-publish residuals.png --md >> report.md
          cml-send-comment report.md
          
